<%= turbo_frame_tag :cards_container do %>
  <div class="card-columns card-columns--without-special-columns"
    data-controller="collapsible-columns"
    data-collapsible-columns-board-value="<%= board.id %>"
    data-collapsible-columns-collapsed-class="is-collapsed"
    data-collapsible-columns-expanded-class="is-expanded"
    data-collapsible-columns-no-transitions-class="no-transitions"
    data-collapsible-columns-title-not-visible-class="is-off-screen">

    <div class="card-columns__right">
      <%= render partial: "public/boards/show/column", collection: board.columns, cached: true %>
      <%= render "public/boards/show/closed", board: board %>
    </div>
  </div>
<% end %>
