<div class="card-perma__notch card-perma__notch--bottom flex-column">
  <%= form_with url: card_publish_path(card), method: :post, id: dom_id(card, :publish_form), class: "card-perma__new-card-form", data: { controller: "form bridge--form" } do %>
    <div class="card-perma__notch-new-card-buttons">
      <button type="submit" name="creation_type" value="add" class="btn"
            title="Create card (<%= hotkey_label(["ctrl", "enter"]) %>)"
            data-form-target="submit"
            data-bridge--form-target="submit"
            data-controller="clicker"
            data-action="keydown.ctrl+enter@document->clicker#click keydown.meta+enter@document->clicker#click">
        <span>Create card</span>
      </button>

      <button type="submit" name="creation_type" value="add_another" class="btn btn--reversed"
            title="Create and add another (<%= hotkey_label(["ctrl", "shift", "enter"]) %>)"
            data-controller="clicker"
            data-action="keydown.ctrl+shift+enter@document->clicker#click keydown.meta+shift+enter@document->clicker#click">
        <span>Create and add another</span>
      </button>
    </div>
  <% end %>

  <%= render "cards/container/footer/saas/storage_limit_notice" if Fizzy.saas? %>
</div>

